@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Nunito:wght@400;600;800&display=swap');
/* Основные цвета */
$grey-90: #d4e5f7;
$white: #ffffff;
$grey: #4a6375;
$black: #000000;
$info: #18a0fb;
$warning: #ffd02b;

$mobile: 480px;

$font-family: 'Nunito', sans-serif;
