@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Nunito:wght@400;600;800&display=swap');
/* Основные цвета */
$accent: #b53471;
$white: #f1e8e8;
$dark-purple: #310c24;
$black: #1a0612;
$light-brown: #511734;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$mobile: 480px;

$font-family: 'Nunito', sans-serif;
